<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <title>David Nguyen</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@2.0.0"></script>
  <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
  <style>
    .v-card__title {
      word-break: normal;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-content>
        <!--home-->
        <v-container fluid py-0>
          <v-container fluid fill-height py-0>
            <v-row no-gutters>
              <v-col cols="12">
                <div style="height: 2.5vh;">
                </div>
                <v-parallax src="images/backgrounds/background1.jpg" id="parallax">
                  <v-row class="d-flex align-center justify-center">
                    <v-col class="col-xs-10 col-sm-6 col-md-5 col-lg-2 text-center">
                      <v-card class="pa-5">
                        <v-card-title class="justify-center">
                          <div class="title font-weight-bold">Hi, I'm David!</div>
                        </v-card-title>
                        <v-btn dark small @click="$vuetify.goTo('#skills', 'easeInQuad')">See More</v-btn>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-parallax>
                <div style="height: 2.5vh;">
                </div>

              </v-col>
            </v-row>
          </v-container>
          <v-container id="skills">
            <!--about / skills-->

            <v-row class="justify-center no-gutters">
              <v-col class="col-md-10 col-lg-8 text-center my-5">
                <v-card dark>
                  <v-card-title primary-title class="layout justify-center">
                    <div>
                      <h3 id="about" class="display-1 font-weight-bold mb-0">About</h3>
                    </div>
                  </v-card-title>
                  <v-card-text>
                    <p class="body-1">I’m a new software dev grad that’s fascinated by all forms of
                      design – whether
                      it’s
                      architecture, urban planning or game design.</p>
                    <p class="body-1">Always looking to learn new technologies and solve
                      challenging problems.</p>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-row class="justify-center no-gutters">
                <v-col cols="9" class="col-md-10 col-lg-8 col-xl-5 text-center ma-5">
                  <v-card>
                    <v-card-title primary-title class="layout justify-center">
                      <div>
                        <h3 class="headline mb-0">Programming Languages</h3>
                      </div>
                    </v-card-title>
                    <v-row class="justify-center">
                      <skill-card v-for="skill in languages" v-bind:key="skill.id" v-bind:skill="skill">
                      </skill-card>
                    </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="9" class="col-md-10 col-lg-8 col-xl-5 text-center ma-5">
                  <v-card>
                    <v-card-title primary-title class="layout justify-center">
                      <div>
                        <h3 class="headline mb-0">Web Technologies</h3>
                      </div>
                    </v-card-title>
                    <v-row class="justify-center">
                      <skill-card v-for="skill in webTechnology" v-bind:key="skill.id" v-bind:skill="skill">
                      </skill-card>
                    </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="9" class="col-md-10 col-lg-8 col-xl-5 text-center ma-5">
                  <v-card>
                    <v-card-title primary-title class="layout justify-center">
                      <div>
                        <h3 class="headline mb-0">Database Technologies</h3>
                      </div>
                    </v-card-title>
                    <v-row class="justify-center">
                      <skill-card v-for="skill in databases" v-bind:key="skill.id" v-bind:skill="skill">
                      </skill-card>
                    </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col cols="9" class="col-md-10 col-lg-8 col-xl-5 text-center ma-5">
                  <v-card>
                    <v-card-title primary-title class="layout justify-center">
                      <div>
                        <h3 class="headline mb-0">Mobile Development</h3>
                      </div>
                    </v-card-title>
                    <v-row class="justify-center">
                      <skill-card v-for="skill in mobile" v-bind:key="skill.id" v-bind:skill="skill">
                      </skill-card>
                    </v-row>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-row>
          </v-container>
        </v-container>
        <v-parallax src="images/backgrounds/background1.jpg" id="parallax" height="300">
          <v-row class="justify-center">
            <v-col class="text-center">
              <v-icon @click="$vuetify.goTo('#projects', 'easeInQuad')" size="24px">fa-chevron-circle-down</v-icon>
            </v-col>
          </v-row>
        </v-parallax>
        <!--portfolio-->
        <v-container id="projects" py-5 my-5>
          <v-row class="justify-center">
            <v-col class="col-md-10 col-lg-8 text-center my-5">
              <v-card dark>
                <v-card-title primary-title class="layout justify-center">
                  <div>
                    <h3 id="about" class="display-1 font-weight-bold mb-0">Projects</h3>
                  </div>
                </v-card-title>
              </v-card>
            </v-col>
          </v-row>
          <v-row class="justify-center">
            <project-card v-for="project in newProjects" v-bind:key="project.id" v-bind:project="project">
            </project-card>
          </v-row>
        </v-container>
        <!--contact-->
      </v-content>
      <v-footer padless width="100vw">
        <v-card flat tile class="black lighten-1 white--text text-center" width="100vw">
          <v-card-text>
            <v-btn v-for="item in footer" :key="item.id" class="mx-4 white--text" :href="item.link" target="_blank"
              icon>
              <v-icon size="24px">{{ item.tag }}</v-icon>
            </v-btn>
          </v-card-text>

          <!-- <v-card-text class="white--text pt-0">
              
            </v-card-text>
      
            <v-divider></v-divider> -->

          <v-card-text class="white--text">
            {{ new Date().getFullYear() }} — <strong>David Nguyen</strong>
          </v-card-text>
        </v-card>
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    document.getElementById('parallax').style.height = '95vh'

    Vue.component('skill-card', {
      props: ['skill'],
      template: `
      <v-col cols="4" class="col-sm-4 col-md-3 col-lg-2 text-center">
        <v-card flat class="mx-auto" max-width="400">
          <v-img class="white--text align-end" :src="skill.image">
          </v-img>
          <v-card-title class="justify-center">{{skill.name}}</v-card-title>
        </v-card>
      </v-col>
      `
    })

    Vue.component('project-card', {
      props: ['project'],
      template: `
      <v-col class="col-md-10 col-lg-5 col-xl-3 ma-5">
        <v-card class="mx-auto">
          <v-img :src="project.image" height="200px"></v-img>
          <v-card-title>
            {{project.name}}
          </v-card-title>

          <v-card-subtitle>
            {{project.subtitle}}
          </v-card-subtitle>

          <v-card-actions>
            <v-btn v-if="project.github" :color="project.colour" :href="project.github" target="_blank" text>Source</v-btn>

            <v-btn v-if="project.document" :color="project.colour" text :href="project.document" target="_blank">
              Document
            </v-btn>

            <v-btn v-if="project.video" text :href="project.video" target="_blank">
              Video
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn icon @click="project.show = !project.show">
              <v-icon>{{ project.show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="project.show">
              <v-divider></v-divider>

              <v-card-text>
                <p v-for="paragraph in project.paragraphs">{{paragraph.text}}</p>
                <ol>
                  <li v-for="listItem in project.orderedList">{{listItem.text}}</li>
                </ol>

                <br v-if="project.orderedList">

                <ul>
                  <li v-for="listItem in project.unorderedList">{{listItem.text}}</li>
                </ul>
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-col>
      `
    });

    new Vue({
      el: "#app",
      vuetify: new Vuetify(),
      // bugfix - all project cards were open by default instead of closed
      // https://codepen.io/typerory/pen/WzmvyV
      mounted() {
        this.addShow()
      },
      methods: {
        addShow() {
          this.newProjects = this.projects.map(projects => ({
            ...projects,
            show: false
          }))
        }
      },
      data: () => ({
        languages: [{
            "id": "1",
            "type": "language",
            "name": "Java",
            "image": "images/skills/java.png"
          },
          {
            "id": "2",
            "type": "language",
            "name": "Python",
            "image": "images/skills/python.png"
          }, {
            "id": "3",
            "type": "language",
            "name": "C#",
            "image": "images/skills/csharp.png"
          }, {
            "id": "4",
            "type": "language",
            "name": "PHP",
            "image": "images/skills/php.png"
          },
          {
            "id": "5",
            "type": "language",
            "name": "Javascript",
            "image": "images/skills/javascript.png"
          }
        ],
        webTechnology: [{
            "id": "1",
            "type": "webTechnology",
            "name": "jQuery",
            "image": "images/skills/jquery.png"
          }, {
            "id": "2",
            "type": "webTechnology",
            "name": "React",
            "image": "images/skills/react.png"
          }, {
            "id": "3",
            "type": "webTechnology",
            "name": "Vue.js",
            "image": "images/skills/vue.png"
          }, {
            "id": "4",
            "type": "webTechnology",
            "name": "Node.js",
            "image": "images/skills/node.png"
          }, {
            "id": "5",
            "type": "webTechnology",
            "name": "HTML5",
            "image": "images/skills/html5.png"
          }, {
            "id": "6",
            "type": "webTechnology",
            "name": "CSS3",
            "image": "images/skills/css3.png"
          },
          {
            "id": "7",
            "type": "webTechnology",
            "name": "Socket.io",
            "image": "images/skills/socketio.png"
          },
          {
            "id": "8",
            "type": "webTechnology",
            "name": "Stripe",
            "image": "images/skills/stripe.png"
          },
          {
            "id": "9",
            "type": "webTechnology",
            "name": "Selenium",
            "image": "images/skills/selenium.png"
          }
        ],
        databases: [{
          "id": "1",
          "type": "database",
          "name": "MySQL",
          "image": "images/skills/mysql.png"
        }, {
          "id": "2",
          "type": "database",
          "name": "SQLite",
          "image": "images/skills/sqlite.png"
        }, {
          "id": "3",
          "type": "database",
          "name": "MariaDB",
          "image": "images/skills/mariadb.png"
        }, {
          "id": "4",
          "type": "database",
          "name": "Oracle Database",
          "image": "images/skills/oracle.png"
        }, {
          "id": "5",
          "type": "database",
          "name": "MSSQL",
          "image": "images/skills/microsoftsqlserver.png"
        }],
        mobile: [{
          "id": "1",
          "type": "mobile",
          "name": "Android",
          "image": "images/skills/android.png"
        }, {
          "id": "2",
          "type": "mobile",
          "name": "iOS",
          "image": "images/skills/iphone.png"
        }],
        newProjects: [],
        projects: [{
            "id": "1",
            "github": "https://github.com/HalfLife7/quizmanager",
            "show": "false",
            "image": "images/projects/study.jpg",
            "colour": "purple",
            "name": "QuizManager",
            "subtitle": "Node.js",
            "video": "https://www.youtube.com/watch?v=expKFJKAPHM",
            "paragraphs": [{
                "text": "Quizzing platform with gamification elements such as achievements and competition through a leaderboard."
              },
              {
                "text": "Previously hosted on Azure using a Ubuntu VM."
              }
            ],
            "unorderedList": [{
                "text": "Front-end: HTML5, CSS3, Javascript, jQuery, Bootstrap"
              },
              {
                "text": "Backend: Node.js, Express.js"
              },
              {
                "text": "Database: MySQL"
              },
              {
                "text": "Testing: Selenium"
              }
            ]
          },
          {
            "id": "2",
            "github": "https://github.com/HalfLife7/hammertown-coffee",
            "show": "false",
            "image": "images/projects/coffee.jpg",
            "colour": "brown",
            "name": "Hammertown Coffee",
            "subtitle": "Responsive Design Web Application",
            "video": "https://www.youtube.com/watch?v=zVBBPKoVs4s",
            "paragraphs": [{
              "text": "Web application that shows coffee shops in Hamilton with the ability to get information such as store hours, reviews and directions."
            }],
            "unorderedList": [{
                "text": "Front-end: HTML5, CSS3, Javascript, jQuery, Bootstrap"
              },
              {
                "text": "Additional Data: Hamilton Open Data"
              },
              {
                "text": "API: Google Places API"
              }
            ],
          },
          {
            "id": "3",
            "show": "false",
            "document": "https://drive.google.com/file/d/1idqQO3e9U3HfHJhqQ-nIF_azcQ_isIkO/view?usp=sharing",
            "image": "images/projects/energymeter.jpg",
            "colour": "blue",
            "name": "Energy Meter Control Panel",
            "subtitle": "openHAB",
            "video": "https://www.youtube.com/watch?v=ffKFiQl7Exk",
            "paragraphs": [{
              "text": "Setup and configured OpenHAB control panel with connectivity to ION7650 meter for Mohawk's Energy & Power Innovation Centre."
            }],
            "orderedList": [{
                "text": "Created workflows for adding devices to system"
              },
              {
                "text": "Added database functionality for historical data"
              },
              {
                "text": "Created step-by-step documentation on how to use OpenHAB system"
              }
            ],
            "unorderedList": [{
                "text": "System: openHAB"
              },
              {
                "text": "Communication Protocol: Modbus"
              },
              {
                "text": "Database: MariaDB"
              },
              {
                "text": "Data Visualisation: Grafana"
              }
            ]
          },
          {
            "id": "4",
            "show": "false",
            "github": "https://github.com/HalfLife7/doorbell-surveillance",
            "image": "images/projects/cctv3.jpg",
            "colour": "red",
            "name": "Doorbell Surveillance",
            "subtitle": "Raspberry Pi",
            "paragraphs": [{
              "text": "Features:"
            }],
            "unorderedList": [{
                "text": "Facial Recognition"
              },
              {
                "text": "Motion Detection"
              },
              {
                "text": "E-mail / Text Message Notifications"
              },
              {
                "text": "Live-stream of Camera"
              },
              {
                "text": "LEDs to Indicate Visitor Status"
              }
            ]
          },
          {
            "id": "5",
            "github": "https://github.com/HalfLife7/monty-hall",
            "show": "false",
            "image": "images/projects/doors2.jpg",
            "name": "Monty Hall Problem",
            "colour": "orange",
            "subtitle": "Python",
            "paragraphs": [{
              "text": "Solving the Monty Hall problem with a Monte Carlo simulation."
            }],
            "unorderedList": [{
              "text": "Language: Python"
            }]
          },
          {
            "id": "6",
            "github": "https://github.com/HalfLife7/machine-learning-fertility-dataset",
            "show": "false",
            "image": "images/projects/machinelearning.jpg",
            "name": "kNN / Decision Tree Analysis",
            "colour": "green",
            "subtitle": "Machine Learning",
            "paragraphs": [{
                "text": "Analysis of Fertility Data Set from UCI Machine Learning Repository using both kNN and Decision Trees."
              },
              {
                "text": "Algorithms were manually coded instead of using scikit-learn's algorithms."
              }
            ],
            "unorderedList": [{
              "text": "Language: Python"
            }]
          }
        ],
        footer: [{
            "id": "1",
            "link": "https://www.linkedin.com/in/david-nguyen-427089135/",
            "tag": "fab fa-linkedin"
          },
          {
            "id": "2",
            "link": "https://github.com/HalfLife7",
            "tag": "fab fa-github"
          }
        ]
      })
    });
  </script>
</body>

</html>